{% extends 'base.html' %}
{% block title %} Flipkart|Carts{% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="row">
        <!-- carts starts here -->
        {% for x in allcarts %}
        <div class="col-md-4 mt-3">
            <img src="{{x.productid.images.url}}" alt="{{x.productid.productname}}" width="300px" height="400px">

        </div>

        <div class="col-md-6 mt-3">
            <div class="card-header fw-bold">
                Product Details
            </div>
            <div class="card-body">
                <h5 class="card-title">{{x.productid.productname}}</h5>
                <p class="card-text text-succuss fw-bold">Special Price</p>
                <p class="card-text">
                    <strong>{{x.productid.price}}/-</strong>
                    &nbsp;
                    <del>{{x.productid.price|add:x.productid.price}}/-</del>
                    <span class="text-success">50% Off</span>
                </p>
                <p class="card-text">{{x.productid.description}} </p>
                <p class="card-text">Available Offers</p>
                <ul>
                    <li>Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C</li>

                    <li>Bank Offer10% off up to ₹1,200 on HDFC Bank Credit Card EMI on 6 and 9 months tenure. Min Txn Value: ₹5000T&C</li>

                    <li>Bank Offer10% off up to ₹1,500 on HDFC Bank Credit Card EMI on 12months and above tenure. Min Txn Value:₹5000T&C</li>

                    <li>Combo OfferBuy 3 or more items save 15%See all productsT&C more offers</li>
                </ul>
                <p class="card-text">Delivry by {{date}} | <span class="card-text">Free</span></p> 
                <p class="card-text">10 Days Return Policy</p>

                <p>
                <strong>QTY:</strong>
                <a href="/updateqty/0/{{x.productid.productid}}"><button class="btn btn-danger">-</button></a>
                <input type="number" value="{{x.qty}}" style="width:30px;">
                <a href="/updateqty/1/{{x.productid.productid}}"><button class="btn btn-success">+</button></a>
                </p>

                <a href="/addaddress_single/{{x.productid.productid}}" class="btn btn-warning"> Make Payment</a>
                <a href="/removecart/{{x.productid.productid}}" class="btn btn-primary"> Remove Cart</a>
            </div>
            
        </div>

        {% endfor %}
        <!-- carts ends here -->
    </div>
</div>

        <!-- totalsection starts here -->
        <div class="col-md-3">
            <div class="row">
                <h3 class="btn-danger text-black">Total Amount Section</h3>
                <h5><strong>Total items : {{totalitems}}</strong></h5>
                <hr>
                <h5><strong>Total Amount : Rs {{totalamount}}/-</strong></h5>
                {% if totalitems >= 1 %}
                <a href="/addaddress_all" class="btn btn-danger">Make Payment</a>
                {% else %}
                <a href="#"><button class="btn btn-danger" disabled> Make Payment </button> </a>
                {% endif %}
            </div>

        </div>
        <!-- totalsection ends here -->


    </div>
</div>
{% endblock %}